<!DOCTYPE html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
</head>
<body>
  <div style="width: 600px;">
    <h2>Welcome to Blocipedia!</h2>
    <h4>We're glad to have you on board, <%= @email %>! Let's wiki the world together.</h4>
  </div>
</body>
